h1 welcome to lightning app 
div 
    form(action='/invoice', method="post")
        p
        label ammount
        input(name="ammount",type="number",required)
        p
        input(type='submit' name='Submit')